
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', serif;
}

body{
    color: #333;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 9%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

nav .cart-icon{
    position: relative;
    font-size: 30px;
    color: #333;
    display: flex;
}

nav .cart-icon .cart-item-count{
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    display: none;
}

